:root {
	/* colors */
	--cyan: #0ff;
	--white: #fff;
	--black: #000;
	--primary-color: #dfe7f2;
	--secondary-color: #313bac;
	--black-color: #030303;
	--lightGray-color: #e4e4e4;
	--gray-color: #6b7688;
	--brown-color: #46364a;
	--white-color: #ffffff;

	// switch theme color
	--circles-shadow: rgba(0, 0, 0, 0.129);
	--circles-shadow-2: #fff;
	--hero-text: var(--gray-color);
	--hi-hero: transparent;
	--text: #000;
	--burger-color: var(--white);
	--shadow01: #ffffff;
	--shadow02: rgba(0, 0, 0, 0.308);
	--switch-icon: #000;
	--switch-color: #f3f3f3;
	--scrollbar: #00000046;
	--scrollThumb: rgba(80, 77, 77, 0.507);
	--closemenu-color: var(--secondary-color);
	--social-bg: var(--secondary-color);
	--social-color: var(--white);
	--hero-before-shadow: var(--white);
	--hero-before-bg: rgba(255, 255, 255, 0.961);
	--gradient: linear-gradient(90deg, #0ff, var(--secondary-color));
	--gradient-2: var(--gradient);
	--link-hover: var(--secondary-color);
	--span-color: var(--secondary-color);
	--skill-color: rgb(236, 250, 253);
	--cr: #5f5f5f;
}
.dark {
	--skill-color: var(--gradient);
	--link-hover: #fff;
	--circles-bg: #000;
	--primary-color: var(--black);
	--white-color: #131313;
	--hero-before-shadow: var(--black);
	--hero-before-bg: linear-gradient(0deg, var(--white-color), #000);
	--circles-shadow: rgba(26, 26, 26, 0.332);
	--circles-shadow-2: rgb(27, 27, 27);
	--social-bg: var(--white);
	--social-color: var(--black);
	--hero-text: #fff;
	--hi-hero: #6d6c6c;
	--blur-value: 6px;
	--closemenu-color: var(--cyan);
	--color-blue: #ececec;
	--color-dark: var(--color-blue);
	--color-blueCard: #fff;
	--text: #c8c8c8;
	--switch-color: var(--black);
	--switch-icon: #fff;
	--shadow01: rgba(0, 0, 0, 0.514);
	--shadow02: rgba(0, 0, 0, 0.568);
	--gray-color: #a9aaab;
	--gradient: linear-gradient(45deg, #000000, #3b3b3b);
	--gradient-2: linear-gradient(90deg, #000000, #ffffff);
	@media (max-width: 400px) {
		--gray-color: var(--white);
	}
	--link-color: var(--white);
	--cr: #cdcdcd;
	--span-color: rgb(7, 243, 255);
}
